.Lecteur{
    background-color: rgb(204, 156, 102, 0.5);
    width: 100%;
}

h3{
    text-align: center;
    font-size: xx-large;
}

.Options{
    display: flex;
    flex-direction: row;
}

@media (orientation: portrait), screen and (max-aspect-ratio: 1/1) {
    .form_sons {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-items: center;
    }

    .Lecteur {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Options {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
    }

    .bouton-son {
        width: 30%;
        height: auto;
        cursor: pointer;
    }

    .bouton-telechargement {
        width: 90%;
    }
    
    body {
        cursor: url(images/Van_side_cur.png), not-allowed;
        background-color: rgb(204, 156, 102);
        min-height: 100vh;
        flex-direction: column;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    h1{
        font-size: 7vw;
    }

    .Titre,
    h1,
    p {
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    body{
        font-size: 5vw;
    }

    .bod2 {
        display: flex;
        flex-direction: column;
        position: relative;
        min-height: 900px;
        background-color: rgba(226, 206, 115, 0.92);
        margin-top: -15%;
        z-index: 1;
    }

    .Banderole {
        margin-left: 0%;
        background-image: url(images/Banderole.jpg);
        background-repeat: no-repeat;
        background-size: 100vw;
        position: sticky;
        top: 20px;
        width: 100%;
        height: 30vh;
        z-index: 0;
    }

    .Btn_accueil {
        background-color: #e7ba3c;
        border-radius: 10px;
        color: #000000;
        text-align: center;
        font-size: 100%;
        width: fit-content;
        padding: 3%;
        cursor: pointer;
        margin: 5px;
        position: fixed;
        top: 2vh;
        left: 2vw;
    }

    .image_centre {
        cursor: pointer;
    }

    .desc,
    .bord_r,
    .Lien_res {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
    }

    .desc {
        justify-content: left;
        color: black;
        margin: 0;
        outline: none;
        text-decoration: none;
    }

    .Lien_res {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }

    .image_res {
        width: 7vw;
        height: auto;
    }

    .lien_res_in {
        margin: 0;
        color: black;
        outline: none;
        text-decoration: none;
    }

    .centre {
        display: flex;
        flex-direction: column;
    }

    .Btm {
        background-color: rgb(207, 240, 131);
        width: 100%;
    }

    .Gauche{
        order: 2;
    }

    .centre{
        order: 1;
    }

    .Droite{
        order: 3;
    }
}

@media (orientation: landscape), screen and (min-aspect-ratio: 1/1){
/* Paysage */ 
    .bouton-son {
        width: 30%;
        height: auto;
        cursor: pointer;
    }

    .bouton-telechargement {
        width: 90%; 
    }

    .Banner{
    background-image: url(images/banner.jpg);
    }
    
    .image_centre{
        cursor: pointer;
    }

    .Btn_accueil {
        background-color: #e7ba3c;
        border-radius: 10px;
        color: #000000;
        text-align: center;
        font-size: 100%;
        width: fit-content;
        height: auto;
        padding: 3%;
        cursor: pointer;
        margin: 5px;
        position: fixed;
        top: 2vh;
        left: 2vw;
        z-index: 2;
    }

    .page_affiche{
        width: 97.9vw;
    }

    .Gauche{
        width:25%;
        grid-area: gauche;
    }

    h1{
        font-size: 5vh;
    }

    .bord_r{
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
    }

    .centre{
        width:60%;
        grid-area:centre;
        display : flex; /* Permet d'organiser tous les éléments dedans (par exemple, l'attribut flex-direction:column permet d'afficher tous les éléments (images / div etc) les uns sur les autres. */
        flex-direction: column;
    }

    .Droite{
        width: 30%;
        grid-area: droite;
        position: sticky;
        top: 20px;
        height: max-content;
    }
    
    .Titre{
        font-size: large;
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    p{  
        text-align  : center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    body{
        background-size:contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 0%;
        margin-right: 0%;
        margin-top:-2vh;
        cursor: url(images/Van_side_cur.png), not-allowed;
        background-color: rgb(204, 156, 102);
        min-height: 100vh;
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .Banderole{
        top: 20px;
        margin-left: 0%;
        background-image: url(images/Banderole.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
        background-attachment: scroll;     
        position:sticky;
        min-height:150%;
        width: 100vw;
        z-index: 1;
        aspect-ratio: 959 / 768;
        margin-top: -35%;
        max-width: 100vw;
    }

    .bod2 {
        margin-top: -35vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "gauche centre droite";
        gap: 20px;
        padding: 2px;
        max-width: 100vw;
        display: flex;  
        position: relative;   
        min-height: 900px;
        background-color: rgba(226, 206, 115, 0.64); /* rgba(R, G, B, opacité) */
        z-index: 1;
        width: 100%;
    }

    h1{
        text-align: center;
    }

    .Lien_res {
        display: flex;
        align-items: center;
        gap: 10px; 
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
    }

    .image_res {
        width: 1.5vw;
        height: auto;
    }

    .lien_res_in {
        font-size: 1.5vw;
        margin: 0;
        color: black;
        outline: none;
        text-decoration: none;
    }

    .desc{
        justify-content: left;
        font-size:1vw;
        color:black;
        margin: 0;
        outline: none;
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
    }

    h3{
        font-size: 2vw;
    }

    p{
        font-size: 1.5vw;
    }
}
