<!DOCTYPE html>
<!--
/////////////////////////////////////////////////////////////////////////////////////////////

Bah alors ca fouille dans le site des gens ? 
Site développé par @Bubzee__ sur instagram, si tu as une question viens en DM
Tu risques de pas trouver grand chose tu sais, le site se limite vraiment à un fichier html

/////////////////////////////////////////////////////////////////////////////////////////////
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Accueil.CSS">
    <link rel="icon" type="image/png" href="/static/images/logo_2.png"/>
    <title>LFDVL - Site officiel</title> 
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2XRXXWN05X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-2XRXXWN05X');
    </script>

</head>
<body>
    <header>
        <div class='Titre'>
            <h1></h1>
        </div>
    </header>
    <button class='Btn_accueil'  onclick="window.location.href = '/'"style='z-index:2;'>Accueil</button>
    <div class= 'Banderole'></div>
    <br>
    
    <div class = 'bod2'>
        
        <div style='min-height:5vh'>
        </div>
        <img 
            class="image_centre page_affiche" 
            src='static/images/Affiche.png'
            alt='Affiche de notre road trip'>
        </img>
                <div style='min-height:5vh'>
        </div>
    </div>
</body>
</html>
